<h1>Edit tasks</h1>

<%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title%>
    <%= f.label :details %>
    <%= f.text_field :details%>
    <%= f.label :Complete%>
    <%= f.check_box :complete %>
    <%= f.submit %>
<% end %>

<%= link_to "Return all task", tasks_path %>